h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 60px;
}

body {
    background-color:lightgray;
}

  .center_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(94, 207, 252);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#body_txt{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    inline-size: 900px;
    overflow-wrap: break-word;
    hyphens: manual;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0px;
}

.body_txt{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    inline-size: 900px;
    overflow-wrap: break-word;
    hyphens: manual;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0px;
}

.main_txt{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.answer_txt{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    font-weight: bold;
}

#newDigit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(94, 207, 252);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    visibility: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 100px;
    width: auto;
    height: auto;
    position: relative;
}